/* Base */
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 30px;
  margin: 0;
}

h2 {
  color: #1e40af;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Form */
form {
  overflow-x: auto;
}

.form-table {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  margin: 0 auto;
  width: max-content;
}

.form-table td {
  padding: 12px 15px;
  font-size: 0.9rem;
  color: #475569;
  font-weight: 600;
}

/* Input */
input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #cbd5e1;
  border-radius: 8px;
  font-family: inherit;
  box-sizing: border-box;
  transition: all 0.3s;
}

select {
  appearance: base-select;
  padding-inline: 8.75px;
}

select option {
  padding: 5px 10px;
}

select::picker(select) {
  appearance: base-select;
  scrollbar-width: none;
  font-family: inherit;
  border-radius: 8px;
  color: #475569;
  border: 1.5px solid #cbd5e1;
}

input[type="text"]:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

/* Radio Button */
input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}

/* Sava & Cancel Buttons */
.btn-simpan {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-simpan:hover {
  background-color: #1d4ed8;
}

.btn-batal {
  background-color: #f1f5f9;
  color: #475569;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 0.85rem;
  transition: all 0.3s;
  border: 1px solid #e2e8f0;
}

.btn-batal:hover {
  background-color: #e2e8f0;
}
